{% extends 'base.html' %}

{% block title %}Про нас - Vinyl Heaven{% endblock %}

{% block content %}
    <section>
        <h2>Наша місія - відродити магію вінілу</h2>
        <p>Заснована у 2023 році двома затятими меломанами в самому серці мальовничої Волині, компанія "Vinyl Heaven" народилася з глибокої пристрасті до автентичного звучання вінілових платівок. Ми віримо, що музика, записана на вінілі, має особливу душу, теплоту та глибину, які втрачаються в цифровому світі.</p>
        <p>Наша мета - не просто продавати платівки, а створити спільноту справжніх цінителів музики. Ми ретельно відбираємо кожен екземпляр для нашої колекції, від класичних шедеврів до сучасних андеграундних записів. У нас ви знайдете як раритетні видання, так і свіжі релізи улюблених виконавців.</p>
        <p>Окрім того, ми пишаємося тим, що підтримуємо місцевих музикантів та незалежні лейбли, пропонуючи їхню музику на вінілі. Купуючи у нас, ви не лише збагачуєте свою колекцію, але й робите внесок у розвиток живої музичної сцени.</p>
        <p>Завітайте до нашого віртуального магазину та відчуйте справжню магію вінілу разом з "Vinyl Heaven"!</p>
    </section>
{% endblock %}